# PostgreSQL Connection URL
# Format: postgres://username:password@hostname:port/database_name
DATABASE_URL=

# AI & Configuration
GEMINI_API_KEY=
FIREBASE_SERVICE_ACCOUNT=
NODE_ENV=development
PORT=3000
